.cards{
    display: flex;
    flex-wrap: wrap;
    
}

.input{
    width: 300px;
    height: 200px;
}

.search{
    margin-top: 20px;
}

.body{
    background-color: azure;
}

.sort-buttons{
    display: flex;
    
    justify-content: space-around;
    margin: 5px;
    padding: 5px;
}

.sort-buttons >button {
    border-radius: 2%;
    background-color: azure;
    border: none;
    cursor: pointer;
    
}