.card-content{
    width: 450px;
    height: 200px;
    border: 1px solid gray;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.list{
    list-style: none;
    margin: auto;
    text-align: left;
}

.avatar{
    width: 100px;
    height: 10px;   
}

.avatar-img{
    max-width: 100%;  
    height: auto;
    margin: 15px;

}

.list-content{
    margin: 15px;
}

/* .repo_name{
    display: flex;
    flex: 1;
} */

.icon{
    margin-top: 2px;
    margin-left: 2px;
    font-weight: bold;
    color:#0969da;
}

.desc{
    margin-top: 3px;
    color: grey;
}

.stars{
    margin-top: 5px;
}

.lan{
    margin-top: 3px;
    color: cornflowerblue;
}